* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    background: linear-gradient( yellow , green);
    transition: background 0.5s ease;
    position: relative;
}

.filed-name,
.email,
.password,
.finish{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    transition: all 0.5s ease;
}

.filed-name i,
.email i,
.password i,
.finish i {
    padding: 10px;
    cursor: pointer;
}

.innactive
{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,50%);
}

div.active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

